body html{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
}
.ul{
    display: flex;
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 40px;
}
.ul li{
    padding-left: 40px;
}

.main{
    display: flex;

    flex-direction: row;
    background: rgb(131,58,180);
background: linear-gradient(274deg, rgba(131,58,180,1) 0%, rgba(253,29,112,0.6446779395351891) 100%); 
}
.mobileria{
    height: 100px;
    width: 180px;
}
.titulli{
    padding-top:10% ;
    font-size: 100px;
    color: white;
}
.butoni{
    height: 40px;
    width: 160px;
    margin-top: 4%;
    background-color: white ;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20%;
}
.paragrafi{
    color: white;
    font-size: 40px;
}
.foto{
    width: 800px;
    height: 800px;
}
.teksti{
    margin-left: 10%;
    margin-top: 5%;
}
.divifotos{
    margin-left: 10%;
}
.butoni:hover{
    height: 45px;
    width: 180px;
    transition: 0.5s;
    color: rgba(131,58,180,1);
    font-weight: bold;
}
.ul a{
    text-decoration-line: none;
    color: white;
    font-size: 20px;
}
.ul a:hover{
    color: black;
}
footer {
    display: flex;
    align-items: center;
    background-color: purple;
    flex-direction: row;
    justify-content: space-between;
    
}
.icon {
    display: inline-block;
    margin: 0 8px;
    font-size: 24px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}
.listaF {
    display: flex;
    flex-direction: row;
    float: inline-end;
}
.ul1 {
    display: flex;
    list-style: none;
    margin-right: 40px;
    margin-top: 40px;
    
}
