body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    /* border: 1px solid red; */
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: darkorange;
}
.ul{
    display: flex;
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 40px;
}
.ul li{
    padding-left: 40px;
}

.main{
    display: flex;
    flex-direction: row;
    background: rgb(131,58,180);
background: linear-gradient(274deg, rgba(131,58,180,1) 0%, rgba(253,29,112,0.6446779395351891) 100%); 
width: 100vw;
}
.mobileria{
    height: 100px;
    width: 180px;
}
.titulli{
    padding-top:10% ;
    font-size: 100px;
    color: white;
}
.butoni{
    height: 40px;
    width: 160px;
    margin-top: 4%;
    background-color: white ;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20%;
}
.paragrafi{
    color: white;
    font-size: 40px;
}
.foto{
    width: 800px;
    height: 800px;
}
.teksti{
    margin-left: 10%;
    margin-top: 5%;
}
.divifotos{
    margin-left: 10%;
}
.butoni:hover{
    height: 45px;
    width: 180px;
    transition: 0.5s;
    color: rgba(131,58,180,1);
    font-weight: bold;
}
.ul a{
    text-decoration-line: none;
    color: white;
    font-size: 20px;
}
.ul a:hover{
    color: black;
}
body {
    margin: 0;
    padding: 0;
}
footer {
    color: ;
    background-color: darkcyan;
    padding: 20px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.icon {
    display: flex;
    align-items: center;
    margin: 4px;
    transition: transform 0.3s ease-in-out;

}
.icon img{
    width: 50px;
    height: auto;
}
.icon img:hover{
    transform: scale(1.2);
}
.ul1 {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
    
}
.ul1 li{
    margin-right: 40px;
}
.ul1 a{
    text-decoration: 0;
    color: black;
    font-size: 18px;
}
.ul1 a:hover{
    color: aqua;
}
.listaF {
    color: aquamarine;
}
@media(max-width: 1400px){
.main {
    flex-direction: column;
}
.main h1 {
    font-size: 25px;
}
.main p{
    font-size: 20px;
}
.divifotos {
    margin-left: 0;
    display: flex;
    justify-content: center;
}
}



@media(max-width: 700px){
   
    .divifotos img {
        width: 300px;
        height: 300px;
    }

    footer {
        color: ;
        background-color: darkcyan;
        padding: 20px 0;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    }



    
@media(max-width: 865px){
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
.ul li{
    float: none;
    padding-left: 0;
}
   
    }

    @media(max-width: 400px){
        .lista {
            display: flex;
            flex-wrap: wrap;
            /* border: 1px solid red; */
            flex-direction: column;
            max-width: 100%;
        }
      .ul1 {
        flex-wrap: wrap;
      }
        }