header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    height: 60px;
}

.headeri {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
   
ul {
    width: 30%;
    display: flex;
    list-style: none; 
    justify-content: space-evenly;
}
ul li:hover {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 5px solid red;
}
.fotohyrje {
    width: 150px;
    height: 100px;
    margin-left: 800px;
    display: flex;
    background-size: 100% 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.butoni_bg {
    width: 25px;
    height: 25px;
}
.ngjyra {
    background-color: yellow;
}
.mobileria {
    margin-top: -5.4%;
    font-size: large;
    font-weight: bold;
    color: black;
}
